body{
    background-color: #a5daed;
}
.product{
    width: 25%;
    height: 500px;
    margin: 20px;
    Padding: 40px;
    background-color: bisque;
    float: left;
    text-align: center;
    border: 2px solid black;

    overflow: hidden;
}
img{;
    height:300px;
    width: 85%;
    margin: 1% 1%;
    border: 2px solid black;
    border-radius: 50%;
    
    /* clip-Path: circle(); */
}
